<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if app.current_route is same as 'home' %} active{% endif %}" aria-current="page" href="{{ path('home') }}">
            <i class="bi bi-house-door-fill"></i>
            {{ 'page.home.name'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if app.current_route is same as 'cd-loader' %} active{% endif %}" href="{{ path('cd-loader') }}">
            <i class="bi bi-disc-fill"></i>
            {{ 'page.cd-loader.name'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if app.current_route is same as 'remote' %} active{% endif %}" href={{ path('remote') }}>
            <i class="bi bi-broadcast-pin"></i>
            {{ 'page.remote.name'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if app.current_route is same as 'settings' %} active{% endif %}" href={{ path('settings') }}>
            <i class="bi bi-gear-fill"></i>
            {{ 'page.settings.name'|trans }}
        </a>
    </li>
</ul>
