<div class="card col">
    <div class="card-body">
        <h5 class="card-title"><i class="bi bi-list-ol"></i> {{ 'page.cd-loader.search-cd.tracks'|trans}}</h5>
        <div class="card-text">
            <ol class="list-group list-group-numbered">
                {% for recording in recordings %}
                    {# @var recording \App\Client\MusicBrainz\Model\Recording #}
                    <li class="list-group-item">{{ recording.title }} [<i class="bi bi-stopwatch-fill"></i> {{ recording.length }}']</li>
                {% endfor %}
            </ol>
        </div>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text">{{ 'page.cd-loader.search-cd.select_slot'|trans}}</span>
            <select data-model="norender|slotId" class="form-select">
                {% for slot in this.slots %}
                    <option value="{{ slot.id }}">
                        {{ slot.number }} -
                        {% if slot.cd %}
                            <i class="bi bi-disc-fill"></i> {{ slot.cd.artist }} [{{ slot.cd.name }}]
                        {% else %}
                            <i class="bi bi-plus-circle-fill"></i> {{ 'form.empty'|trans}}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
            <button
                    class="btn btn-primary btn-sm"
                    data-live-action-param="persist"
                    data-action="live#action"
                    type="button"
            >
                <i class="bi bi-plus-square-fill"></i> {{ 'page.cd-loader.search-cd.add_cd'|trans}}
            </button>
        </div>
    </div>
</div>